h1 {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 16pt;
	font-family: "PT Serif Caption", serif;
	font-weight: normal;
	font-size:64pt;
	text-align: center;
}

hr {
	width: 100%;
	border: none;
	border-top: 1px dotted;
}